.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;    
}

.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
    background-color: lightblue;
    
}
.stage-direction:hover{
    color: red;
    background-color: blueviolet;
}

.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}
.lordgoring{
    color:red;
}
.lordgoring:hover{
    text-shadow: 1px 1px green;
    border: 1px solid black;
    border-style: dotted;
}
.sirrobert{
    color:green;
}
.sirrobert:hover{
    text-shadow: 1px 1px red;
    border: 1px solid black;
    border-style: dotted;
}
.tableclass{
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.tr:nth-child(odd){
    background-color: black;
    color: white;
}